.fighter-pic {
  padding: 2px;
  max-width: 240px;
  border: solid 2px #333;
  box-shadow: 5px 5px 15px #999;  
}

.hero-pic {
  transform: rotate(-2deg);
}

.villain-pic {
  transform: rotate(2deg);
}

.centered {
  text-align: center;
}

.winner-box {
  border: solid 5px #21E299;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #999;
  transition: 0.75s ease-in-out;
}

.winner-box h1 {
  color: #21E299;
  transition: 0.75s ease-in-out;
}

.looser-box img {
  filter: grayscale(1);
}

.looser-mark {  
  background-color: #F8DCD6;
}

.winner-mark {
  background-color: #CBFCE1;
}

.error-box {
  border-radius: 20px;
  background-color: #D93526;
  padding: 1em;
}

.error-box h5, .error-box p {
  color: white;
}
